/{
    aliases {
        extint0 = &motion_interrupt;
        motioni2c = &i2c1;
    };

    motion_interrupt: motion-interrupt {
        compatible = "gpio-keys";
        status = "okay";
        motion_sensor_int {
            gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
            label = "Motion Sensor Interrupt";
        };
    };
};

&i2c1 {
    pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>; // Default state
    pinctrl-1 = <&i2c1_scl_sleep_pb8 &i2c1_sda_sleep_pb9>; // Sleep state
    pinctrl-names = "default", "sleep"; // Names for the states
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
};

/* Define sleep state pin configurations */
&pinctrl {
    i2c1_scl_sleep_pb8: i2c1_scl_sleep_pb8 {
        pinmux = <STM32_PINMUX('B', 8, ANALOG)>; // Configure as analog in sleep mode
        bias-disable;
    };

    i2c1_sda_sleep_pb9: i2c1_sda_sleep_pb9 {
        pinmux = <STM32_PINMUX('B', 9, ANALOG)>; // Configure as analog in sleep mode
        bias-disable;
    };
};